.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.wrapper{
    width: 250px;
    height: 150px;
    margin: 10px;
    border: 5px solid goldenrod;
}
.wrapper img{
    width: 100%;
    height: 100%;
}